.header-container {
    display: flex;
    background: #ffffff;
    height: 184px;
    &__title {
        &__secondTitle{
            position:absolute;
            top: 202px;
            left: 160px;
            font-size: 40px;
            font-weight: 600;
            letter-spacing: 1px;
        }
        &__description{
            position:absolute;
            top: 250px;
            left: 160px;
            font-size: 12px;
            letter-spacing: 1px;
        }
        &__logoName {
            border: 1px solid #fff;
            border-radius: 50%;
            width: 56px;
            height: 56px;
            position: absolute;
            left: 100px;
            top: 214px;
            text-align: center;
            padding-top: 10px;
            background-color: #26a0d7;
            color: #fff;
            font-weight: 800;
            font-size: 23px;
        }
    }
    &__search-form {
        position: absolute;
        left: 440px;
        top: 225px;
        & .form-inline .form-control {
            width: 500px;
            outline: none !important;
            &:focus {
                border-color: inherit;
                -webkit-box-shadow: none;
                box-shadow: none;
            }
        }
        & .btn-primary {
            background-color: #26a0d7;
            color: #fff;
            &:hover {
                background-color: #000;
            }
        }
    }
    &__contact {
        position: absolute;
        left: 80%;
        top: 34%;
        & span {
            position: relative;
            left: 10px;
            bottom: 2px;
            color: #292d39;
            font-size: 21px;
            font-weight: 500;
            line-height: 1.5em;
            font-family: ubuntu;
        } 
        & .fa-phone{
           font-size: 40px;
           color: #26a0d7;
       }
    }
}
