.header-container {
    background: rgb(245, 223, 223);
    height: 184px;
    &__title {
        &__secondTitle{
            position:absolute;
            top: 202px;
            left: 160px;
            font-size: 40px;
            font-weight: 600;
            letter-spacing: 1px;
        }
        &__description{
            position:absolute;
            top: 250px;
            left: 160px;
            font-size: 12px;
            letter-spacing: 1px;
        }
    }
}
