.banner-container {
    background: url() 50% 0 no-repeat;
    display: flex;
    height: 160px;
    background-color: #26a0d7;
    &__title {
        font-size: 50px;
        color: white;
        font-weight: 900;
        position: absolute;
        top: 45px;
        left: 160px;
        font-family: Roboto;
    }
    &__notifications {
        display: flex;
        position: absolute;
        right: 250px;
        top: 64px;
        margin-left: 10px;
        &__time {
            margin-left: 10px;
            &__number {
                color: #fff;
                font-size: 50px;
                font-weight: 700;
            }
            &__period {
                color: #fff;
                position: relative;
                top: 22px;
                right: 22px;
            }
        }
    }
}